In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pyreadr
import numpy as np
import scipy.stats as stats

In [5]:
def load_rda(file_paths):

  dataframes = {}

  for file_path in file_paths:
      result = pyreadr.read_r(file_path)

      for key in result.keys():
          dataframes[key] = result[key]

  return dataframes

In [6]:
def missing_values(df):
  return(df.isnull().sum())

In [7]:
def clean_data(data_dict):
    cleaned_dict = {}
    for key, df in data_dict.items():
        df_cleaned = df.drop_duplicates()
        if 'RecordBeg' in df_cleaned.columns:
            df_cleaned.loc[:, 'RecordBeg'] = pd.to_datetime(df_cleaned['RecordBeg'], errors='coerce')
        if 'RecordEnd' in df_cleaned.columns:
            df_cleaned.loc[:, 'RecordEnd'] = pd.to_datetime(df_cleaned['RecordEnd'], errors='coerce')

        cleaned_dict[key] = df_cleaned

    return cleaned_dict

In [8]:
file_paths = ['freMTPL2freq.rda','freMTPL2sev.rda']

In [9]:
file_paths = [f'/home/onyxia/work/Federated_Learning_Milliman/raw_data/{file}' for file in file_paths]
df = load_rda(file_paths)
df1 = clean_data(df)

In [10]:
freMTPL_final = pd.concat(df1, ignore_index=True)
freMTPL_final

,IDpol,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region,ClaimAmount
0,1,0.0,0.10,5.0,0.0,55.0,50.0,B12,Regular,D,1217.0,Rhone-Alpes,NaN
1,3,0.0,0.77,5.0,0.0,55.0,50.0,B12,Regular,D,1217.0,Rhone-Alpes,NaN
2,5,0.0,0.75,6.0,2.0,52.0,50.0,B12,Diesel,B,54.0,Picardie,NaN
3,10,0.0,0.09,7.0,0.0,46.0,50.0,B12,Diesel,B,76.0,Aquitaine,NaN
4,11,0.0,0.84,7.0,0.0,46.0,50.0,B12,Diesel,B,76.0,Aquitaine,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
704195,3254353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.00
704196,3254353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.00
704197,3254353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200.00
704198,2222064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,767.55
704199,2254065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.00